<html>
  <head>
    <meta charset="utf-8">
    <title>Générateur de Personnage</title>
    <h2>Générateur de Personnage</h2>
  </head>
  <body>
    <script type="text/javascript" src="/character-generator/js/generator.js"></script>
    <script type="text/javascript" src="/character-generator/js/cairn_data.js"></script>
    <div class="chargen">
      <h3>Apparence</h3>
      <span id="character"></span> J'ai <span id="age"></span> ans.
      <h3>Caractéristiques</h3>
        <b>PC: </b>&nbsp;<span id="hp"></span><br>
        <b>Armure: </b>&nbsp;<span id="armorTotal"></span><br>
        <b>FOR: </b>&nbsp;<span id="str"></span><br>
        <b>DEX: </b>&nbsp;<span id="dex"></span><br>
        <b>VOL: </b>&nbsp;<span id="wil"></span><br>
      <h3>Equipement</h3>
        <b>Armure : </b>&nbsp;<span id="armor" ></span><span id="helmet"></span><br>
        <b>Arme : </b>&nbsp;<span id="weapons"></span><br>
        <b>Équipement, outils & babioles : </b>&nbsp;<span id="tool"></span>, <span id="gear"></span>, et <span id="trinket"></span><br>
        <b>Objet bonus : </b>&nbsp;<span id="bonus"></span><br>
        <b>Provisions de départ : </b>&nbsp;<span id="gold"></span> po, une torche, and 3 jours de rations<br>
        <b>Inventaire: </b>&nbsp; <span id="total"></span> emplacements occupés sur 10<br>
        <script type="text/javascript" src="/character-generator/js/jquery-3.5.1.min.js"></script>
        <script type="text/javascript" src="/character-generator/js/main.js"></script>
      <h3>Notes</h3>
      <li>Si des objets s'"empilent", ils occupent tous le même emplacement !</li>
      <li>Si l'inventaire est plein, les PC sont réduit à 0.</li>
    </div>
  </body>
<br><br>
<a href="javascript:window.scrollTo(0,0); window.location.reload(true)">Rechargez la page</a> pour générer un nouveau personnage.
<br>Basé sur le générateur de Cairn créé par <a href="https://nakade.itch.io">Nakade</a>.
<br>S'appuie sur l'incroyable <a href="https://donjon.bin.sh/code/random">générateur de donjons</a>.
</html>
